<div class="panel">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row img-container" >
            <div class="table-details panel">
                <div class="panel-heading exon-panelHeading">
                    Well Details
                </div>
                <div class="panel-body ex-container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group form-inline">
                                <label>Well Depth:</label>
                                <span>210</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group form-inline">
                                <label>Well Depth:</label>
                                <span>210</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group form-inline">
                                <label>Well Depth:</label>
                                <span>210</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group form-inline">
                                <label>Well Depth:</label>
                                <span>210</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group form-inline">
                                <label>Well Depth:</label>
                                <span>210</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="./app/assets/images/image.png"
                 class="img-responsive center-block"/>
        </div>
    </div>
</div>